# dependencies
node_modules
bower_components

# compiled output
/dist
/bundled
/dist-images
/.tmp
/script
/layouts
style.css

# System Files
.DS_Store
Thumbs.db
Icon?

# Custom configuration
gulpconfig.json
